.cart1{
    text-align: left;
    margin-top: 60px;
    margin-left: 1125px;

   
}

img{
   width: 50px;
   background-color: #ffffff;
   border-color: white;
   height: 40px;
   text-align: center;
   left: 0;
}
.btncart{
    border-radius: 10%;
    width: 60px;
    height: 50px;
    text-align: center;
    border-color: white;
    background-color: white;
}
.btnAdd{
 background-color: #f3c9ec;
border-radius: 10%;
border-color: #efb5e5;
height: 50px;

}
.btnUp{
    background-color: #caecef;
    border-radius: 10%;
    border-color: #b3e3e4;
}
